/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
}

body {
    background-color: #ECEFF1;
}

.outterTransit {
    width: 50%;
    margin: 0 auto;
}

.weatherBold {
    font-weight: bold;
}

.outterForecast {
    width: 80%;
    margin: 0 auto;
}

.time {
    font-size: 70px;
}

.date {
    font-size: 50px;
}

.dateTime {
    background-color: #263238;
    color: #ECEFF1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.smallTh {
    font-size: 11px;
    vertical-align: super;
}

.brownLine {
    color: brown;
    font-style: italic;
}

.redLine {
    color: red;
    font-style: italic;
}

.weather {
    background-color: #CFD8DC;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 85px;
}

.transitInfo {
    background-color: #B0BEC5;
    padding: 10px;
}

.calendar {
    margin-top: 85px;
}